# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.venv/
.env/

# Temporary files
*.log
*.tmp
*.swp
.DS_Store

# # under construction
# statistics.py
# setup.py