# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.venv/
.env/

# IDE specific files
.idea/
.vscode/

# Temporary files
*.log
*.tmp
*.swp
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore all files in the data/ directory
data/fits/
data/fits_smh/

# Ignore local build folders
build*/
dist/
spag/plots/